<form asp-action="Index">
    <input type="text" name="PersonId">
    <input type="text" name=" FullName">
    <input type="text" name="Address" id="">
    <input type="submit" value="Gửi dữ liệu">
</form>
<h2>Dữ Liệu lấy từ @ViewBag.Message</h2>